<h1>List of motimates:</h1>
<% @users.each do |user| %>
  <% unless user == current_user %>
    <div class="">
      <%= link_to user.name.humanize, user_path(user) %>
    </div>
  <% end %>
<% end %>
